    <label>
        Filter: <input type="text" ng-model="vm.filter" ng-change="vm.filterAutos()" 
        ng-model-options="{ 'debounce': 250 }">
    </label>
    <table>
        <tbody>
            <tr ng-repeat="auto in vm.autoViews">
                <td>
                    {{auto.make}}
                </td>
                <td>
                    {{auto.model}}
                </td>
                <td>
                    {{auto.year}}
                </td>
                <td>
                    <button ng-click="vm.showIndex($index)">Show Index</button>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    Year
                </th>
            </tr>
        </thead>
    </table>